
.container{

}
.App {
  text-align: center;
}

.Header{
  height: 20%;
  background-color: white;
  margin-bottom: 20px;
  display:flex;
}

.Footer{
  position: absolute;
  bottom: 0;
  height:5%;
  width: 100%;
  background-color: rgb(80, 80, 250);
}

.logo{
  height:15%;
  width:20%;
  padding:5px;
  padding-top: 30px;
  padding-right: 10px;
}

.brand{
  height:100%;
  width:20%;
}


.left{
  width: 45%;
  left: 0;
  display: flex;
  float: left;
}

.right{
  width: 45%;
  right:0;
  text-align: right;
  float: right;
}

.AboutHeader{
  text-align: center;
  font-family: fantasy;
}

.MeetGrid{
  display: flex;
  padding: 10px;
  align-content: center;
}

.grid-item{
  padding: 10px;
}

.summary{
  width: auto;
  height: max-content;
  border-radius: 20px;
}