.App {
  text-align: center;
}

.Header{
  height: 20%;
  background-color: white;
  margin-bottom: 20px;
  display:flex;
}

.Footer{
  position: absolute;
  bottom: 0;
  height:10%;
  background-color: white;
}

.logo{
  height:15%;
  width:20%;
  padding:5px;
  padding-top: 10px;
}

.brand{
  height:100%;
  width:20%;
  padding:5px;
}


.left{
  left: 0;
  display: flex;
}

.right{
  right:0;
  text-align: right;
}