
.container{

}
.App {
  text-align: center;
  overflow-x: scroll;
}

.Header{
  height: 20%;
  background-color: white;
  margin-bottom: 20px;
  display:flex;
}

.Footer{
  position: absolute;
  bottom: 0;
  height:5%;
  width: 100%;
  background-color: rgb(80, 80, 250);
}

.logo{
  height:15%;
  width:20%;
  padding:5px;
  padding-top: 30px;
  padding-right: 10px;
}

.brand{
  height:100%;
  width:20%;
  margin-left: 10px;
}


.left{
  width: 45%;
  left: 0;
  display: flex;
  float: left;
}

.right{
  width: 45%;
  right:0;
  text-align: right;
  float: right;
}

.AboutHeader{
  text-align: center;
  font-family: fantasy;
}

.MeetGrid{
  display: flex;
  padding: 10px;
  align-content: center;
}

.grid-item{
  padding: 10px;
}

.summary{
  width: auto;
  height: max-content;
  border-radius: 20px;
}

.blogPost{
  margin-left: 5%;
  margin-top: 5%;
  display: inline-block;
  text-align: center;
}

.topthird{
  height: 33%;
  float: left;
}
.middlethird{
  height: 33%;
float: right;
}
 .spacer{
  padding-top: 10px;
 }

 .button{
  width: 100px;
  text-align: center;
  margin: 10px;
  background-color: rgb(215, 49, 49);
  color:white;
  border: 0;
  border-radius: 5px;
 }

 .accountPage{
  background-color: rgb(182, 181, 181);
  margin: 10%;
 }

 .contactForm{
  text-align: left;
  background-color: #fb9a11;
  padding: 20px;
  border-radius: 10px 20px;
  color: white;
  
 }

.tour{
  text-align: center;
  background-color: #fb9a11;
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10px 30px;
  font-weight: bold;
}

.virtualTour{
  height: 500 ;
  width:600;
  border: 0;
}